/* importando uma fonte do google */
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

/* criando variaveis de css */
:root {
    --cor-primaria: orange;
    --cor-secundaria: purple;
}

/* modificando todos os elementos */
* {
    margin: 0;
    /* remove margens */
    padding: 0;
    /* remove espacamentos internos */
    box-sizing: border-box;
    /* calcula larguras automaticamente */
    font-family: "Tiny5", sans-serif;
    /* define uma familia de fonte */
}

/* titulos h1 */
h1 {
    font-size: 30px;
    /* tamanho da fonte */
}

/* todos os titulos */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    /* alinhados ao centro */
}

/* o corpo da pagina */
body {
    background-color: black;
    /* fundo preto */
    color: white;
    /* letra branca */
    background-image: url('../imgs/grito.jpg');
    /* imagem de fundo */
    background-repeat: no-repeat;
    /* sem repeticoes */
    margin: 2rem;
}

/* classe */
.azul {
    color: var(--cor-secundaria);
    /* muda a cor da letra para o valor da variavel */
}

/* classe */
.sublinhado {
    text-decoration: underline;
    /* adiciona o sublinhado */
}

/* id */
#maiusculo {
    text-transform: uppercase;
    /* deixa as letras todas maiusculas */
}

/* id */
#italico {
    font-style: italic;
    /* deixa a fonte em italico */
}

/* apenas os paragrafos DESCENDENTES de divs que estao dentro de um elemento com a classe conteudo-sobre */
.conteudo-sobre div p {
    color: #ad0fec66;
    /* cor da letra roxa */
}

/* paragrafos FILHOS de divs */
div>p {
    text-decoration: underline;
    /* sublinhado */
}

/* paragrafo irmao adjacente a uma div */
div+p {
    color: green;
    /* cor da letra */
}

/* todos os paragrafos irmaos de div */
div~p {
    text-transform: uppercase;
    /* tudo maiusculo */
}

/* passar o mouse sobre os links */
a:hover {
    color: yellow;
    /* cor da letra */
}

/* primeira letra dos paragrafos */
p::first-letter {
    font-size: 50px;
    /* tamanho da fonte */
}

/* selecionar um paragrafo */
p::selection {
    background-color: yellow;
    /* cor de fundo */
}

/* tabela titulos da tabela e dados da tabela */
table, th, td {
    border: 1px solid white; /* borda de 1pixel linha solida e branca */
    border-radius: 10px; /* arredondando as bordas, collapse cancela isso */
    border-collapse: collapse; /* juntando bordas duplas */
    padding: 0.5rem; /* espacamento interno */
}

/* id */
#foto-perfil {
    border-radius: 50%; /* foto redonda */
}

/* id */
#pai {
    width: 50%; /* largura 50% */
    height: 150px; /* altura */
    background-color: gray; /* cor de fundo */
    overflow: auto; /* transbordamento do conteudo */
    position: relative; /* posicionamento relativo ao original */
    top: 50px; /* distancia do topo */
    left: 50px; /* distancia da esquerda */
}

/* classe */
.exemplo {
    width: 50%; /* largura */
    height: 200px; /* altura */
    background-color: aqua; /* cor de fundo */
    position: relative; /* posicionamento relativo ao original */
    top: 200px; /* distancia do topo */
}

/* classe */
.absoluta {
    width: 30px; /* largura */
    height: 30px; /* altura */
    background-color: blueviolet; /* cor do fundo */
    position: absolute; /* posicionamento relativo ao pai */
    top: 50px; /* distancia do topo */
    left: 50px; /* distancia da esquerda */
}

/* classe */
.ad {
    width: 200px;
    height: 200px;
    background-color: red;
    position: fixed; /* posicao fixa em relacao a tela */
    top: 50%; /* distancia do topo */
    left: 50%; /* distancia da esquerda */
    transform: translate(-50%, -50%); /* reajuste em relacao a si mesmo */
}

/* selecioando a tag nav */
nav {
    position: sticky; /* posicionamento grudado */
    top: 0; /* distancia do tipo, grudado na parte de cima da tela */
}

#img-texto {
    float: right; /* flutuar para direita */
    opacity: 0.5; /* transparencia */
}

/* elemento especifico quando sofrer hover */
#img-texto:hover {
    opacity: 1; /* transparencia */
}

#texto-img {
    clear: both; /* limpar o float */
}

.caixa-flex {
    width: 100%;
    height: 200px;
    background-color: aquamarine;
    display: flex; /* ligando o flexbox */
    flex-direction: row; /* direcao dos filhos em linha */
    flex-wrap: wrap; /* ajustar os itens quando nao houvr espaco */
    justify-content: space-evenly; /* alinhamento horizontal */
    align-items: start; /* alinhamento vertical */
    align-content: space-between; /* alinhamento quando tem varias linhas de conteudo */

}

.caixa {
    width: 40px;
    height: 40px;
    background-color: blueviolet;
    margin: 0.5rem;
    text-align: center;
}

.maior {
    height: 50px;
}